
$background : #161616;
$font1 :#d9d9d9;

html, body, ul{
    padding: 0;
    margin: 0;
    list-style: none;
    font-family: sans-serif;
    overflow-x: hidden;
}
body{
    background: $background;
}
a{
    text-decoration: none;
    color: $font1;
}
a.active{
    color: red;
}

