.play-btn{
    background: white;
    color: black;
    height: 45px;
    width: 130px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
}
.infos-btn{
    background: rgba(126, 108, 108, 0.519);
    color: white;
    height: 45px;
    width: 180px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
}