.play-btn{
    background: white;
    color: black;
    height: 55px;
    width: 170px;
    min-width: 140px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    &:hover{
        filter: brightness(0.5);
        cursor: pointer;
    }
}
.infos-btn{
    background: rgba(126, 108, 108, 0.519);
    color: white;
    height: 55px;
    width: 220px;
    min-width: 140px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    &:hover{
        filter: brightness(0.5);
        cursor: pointer;
    }
}
.circle-btn{
    background: rgba(126, 108, 108, 0.519);
    height: 55px;
    width: 55px;
    border-radius: 50%;
    border: 1px solid $font1;
    color: white;
    font-size: 25px;
    &:hover{
        filter: brightness(0.5);
        cursor: pointer;
    }
}