.top-ten-card{
    height: 95%;
    width: 100%;
    display: flex;
    // position: relative;
    overflow-x: visible;
    & img{
        height: 96%;
        // width: 150px;
        border-radius: 5px;
        object-fit: cover;
        aspect-ratio: 16/9;
    }
}