.top-ten-card{
    height: 95%;
    width: 100%;
    display: flex;
    // position: relative;
    overflow-x: visible;
    cursor: pointer;
    & img{
        height: 96%;
        // width: 150px;
        border-radius: 5px;
        object-fit: cover;
        aspect-ratio: 16/9;
    }
    &:hover{
        transform: scale(1.2);
    }
}

.quick-view{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 100px;
    z-index: 6;
    backdrop-filter: blur(5px);

    &-container{
        width: 80vw;
        height: 80vh;
        background: $background;

        &-infos{
            height: 40%;
            display: grid;
            grid-template-columns: 60% 40%;
            @media screen and(max-width: 900px){
                grid-template-columns: 1fr;
            }
        }
        &-img{
            height: 60%;
            position: relative;
            & img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            }
            & h1, & .quick-view-btn{
                position: absolute;
                left: 5%;
            }
            & h1{
                top: 50%;
                color: white;
            }
            & .quick-view-btn{
                top: 70%;
                display: flex;
                gap: 1rem;
                @media screen and(max-width: 500px){
                    top: 60%;
                    flex-wrap: wrap;
                }
            }
            & i.fa-solid.fa-xmark{
                color: white;
                border: 2px solid white;
                border-radius: 50%;
                width: 45px;
                height: 45px;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 30px;
                position: absolute;
                right: 10px;
                top: 10px;
                &:hover{
                    filter: brightness(0.5);
                    cursor: pointer;
                }
            }
        }    
    }
    &-infos-left{
        display: flex;
        flex-direction: column;
        overflow: scroll;
        overflow-x: hidden;
        overflow-y: visible;
        &::-webkit-scrollbar {
            padding: 15px;
            height: 10px;
        }
        &::-webkit-scrollbar-track {
            background: $background;
            margin-left: 3rem;
        }
        &::-webkit-scrollbar-thumb {
            background: black;
            border-radius: 8px;
            height: 8px;
            background-clip: content-box;
        }
        &-head{
            display: flex;
            color: white;
            height: 20%;
            width: 92%;
            gap: 2rem;
            align-items: center;
            margin-left: 8%;

            & .media-type{
                border: 1px solid white;
                padding: 5px;
            }
        }

        &-main{
            margin-left: 8%;
            color: white;
            & p{
                max-width: 90%;
                overflow: ellipsis;
            }
        }
    }
    &-right{
        @media screen and(max-width:900px){
            display: none;
        }
        & p{
            color: rgb(107, 107, 107);
            font-weight: bold;
            display: flex;
            align-items: center;
            gap: .5rem;
            & i{
                font-size: 25px;
            }
            & .fa-sharp.fa-solid.fa-xmark{
                color: red;
            }
            & .fa-sharp.fa-solid.fa-check{
                color: green;
            }
        }
        &-genre{
            display: flex;
            align-items: center;
            gap: 1rem;
           
            & ul{
                display: flex;
                flex-wrap: wrap;
                gap: 1rem;
                & li {
                    color: white;
                    border: 1px solid rgb(106, 106, 106);
                    padding: 3px;
                }
            }
        }
    }
}