.header{
    height: 100vh;
    overflow-x: hidden;
    display: flex;
    align-items: center;
}

.banner-infos-container{
    width: 50%;
    color: white;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3rem;

    & .btn-container{
        display: flex;
        gap: 1rem;
        flex-wrap: wrap;
    }
}

.top-ten-container{
    display: flex;
    color: white;
    height: 150px;
    overflow-x: scroll;
    overflow-y: hidden;
    position: relative;
    gap: 1rem;
    padding: 3rem;
    padding-bottom: 0;
    @media screen and(max-width: 780px){
        height: 200px;
        width: 100%;
    }
    @media screen and(max-width: 600px){
        padding-left: .5rem;
    }

    & h2{
        position: absolute;
        top: -10px;
        @media screen and(max-width: 600px){
            top: 0;
            font-size: 16px;
        }
    }
    &::-webkit-scrollbar {
        padding: 15px;
        height: 10px;
    }
    &::-webkit-scrollbar-track {
        background: $background;
        margin-left: 3rem;
        @media screen and(max-width: 600px){
            margin-left: .5rem;
        }
    }
    &::-webkit-scrollbar-thumb {
        background: black;
        border-radius: 8px;
        height: 8px;
        background-clip: content-box;
    }
 
}
